<%- include("includes/head.ejs") %>

    <body>
        <h1>
            <%= data.name %>
        </h1>
        <button class="follow">Follow</button>
        <button>message</button>
        <p>Followers: <%= data.followers %> &nbsp;&nbsp;Following: <%= data.following %>
        </p>
        <hr>
        <p>posts: <% data.posts %>
        </p>

        <% for(post of data.posts){ %>
            <img src="<%=post.image%>" alt="" width="100">
            <p>likes:<%= post.likes %> &nbsp;&nbsp;comments: <%= post.comments %>
            </p>
            <% } %>

            <%- include("includes/footer.ejs") %>

                <script src="/app.js"></script>

    </body>

    </html>